name: CI
on:
  pull_request:
    branches: ['*']
  push:
    branches: ['*']
jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        scala: [2.12.x, 2.13.x, 3.x]
        java: [8]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}
      - uses: sbt/setup-sbt@v1
      - name: Cache sbt
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - name: Check formatting
        run: sbt scalafmtSbtCheck ++${{ matrix.scala }} scalafmtCheckAll
      - name: Build project
        run: sbt ++${{ matrix.scala }} test
